### Project plan

#### 1 - Analyze type of the data. Study each column. Understand if some columns are completely unuseful.
#### 2 - Cluster data in some areas, in order to have a general understanding
#### 3 - Find some buisness interest in dataset, which column/data makes sense predict, more than one??
         If more than one, maybe I have to use different subset data or strategy
#### 4 - EDA: multicollinearity, outliers study (use functions already defined)
#### 5 - Apply Linear Regression algorithm for target (or targets variables)
#### 6 - Optimize the model (use already defined functions)

In [66]:
import pandas as pd
import numpy as np
import re
import sys
# options
pd.set_option('display.max_columns', None)

In [67]:
# Load original data
df = pd.read_csv(r'data/fifa21_male2.csv',
                dtype={'Hits': 'object'})
df.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,Club Logo,Flag Photo,POT,Team & Contract,Height,Weight,foot,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Contract,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,https://cdn.sofifa.com/flags/it.png,69,Udinese 2008 ~ 2016,"6'0""",181lbs,Left,0,"Jul 1, 2008",NaN,€625K,€7K,€0,2008 ~ 2016,313,75,50,59,71,58.0,338,73,65.0,60,69,71,347,68,74,68.0,69,68.0,347,74,68.0,69,68,68,320,72,69.0,63.0,66.0,50,NaN,208,70,69,69.0,56,14,5,15,10,12,1929,408,3 ★,2★,Medium,High,2 ★,71,59,70,71,68,69,4,65+0,65+0,65+0,68+0,67+0,67+0,67+0,68+0,68+0,68+0,68+0,69+0,69+0,69+0,69+0,69+0,71+-2,70+-1,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,https://cdn.sofifa.com/flags/es.png,71,KAS Eupen 2014 ~ 2019,"5'10""",143lbs,Right,0,"Jul 19, 2014",NaN,€600K,€7K,€1.1M,2014 ~ 2019,337,68,64,61,76,68.0,369,69,79.0,79,71,71,305,56,50,62.0,65,72.0,324,75,54.0,64,60,71,362,71,71.0,72.0,73.0,75,79.0,153,70,43,40.0,56,9,12,13,11,11,1906,385,4 ★,3★,Medium,Medium,1 ★,53,69,73,69,58,63,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,https://cdn.sofifa.com/flags/gb-eng.png,71,Coventry City 2016 ~ 2020,"5'9""",161lbs,Right,0,"Jan 7, 2016",NaN,€1.1M,€15K,€0,2016 ~ 2020,337,80,64,41,77,75.0,387,79,84.0,77,69,78,295,48,42,71.0,59,75.0,284,72,58.0,29,56,69,317,69,39.0,69.0,74.0,66,NaN,99,35,34,30.0,51,9,6,13,16,7,1770,354,4 ★,4★,Medium,Low,2 ★,45,68,76,77,36,52,11,64+0,64+0,64+0,70+0,69+0,69+0,69+0,70+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,68+0,52+0,54+0,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,https://cdn.sofifa.com/flags/tt.png,82,Sunderland 2009,"5'11""",165lbs,Right,14,NaN,NaN,€0,€0,€0,2009,264,54,70,60,80,NaN,255,68,NaN,46,64,77,176,59,62,NaN,55,NaN,239,63,NaN,51,66,59,271,59,70.0,72.0,NaN,70,NaN,75,34,41,NaN,68,5,21,64,21,21,1348,369,3 ★,1★,NaN,NaN,1 ★,61,66,66,69,47,60,3,67+0,67+0,67+0,66+0,67+0,67+0,67+0,66+0,70+0,70+0,70+0,66+0,68+0,68+0,68+0,66+0,56+0,65+0,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,https://cdn.sofifa.com/flags/es.png,81,Vissel Kobe 2018 ~ 2021,"5'7""",150lbs,Right,0,"Jul 16, 2018",NaN,€5.5M,€12K,€7.2M,2018 ~ 2021,367,75,69,54,90,79.0,408,85,80.0,70,83,90,346,61,56,79.0,75,75.0,297,67,40.0,58,62,70,370,58,70.0,78.0,93.0,71,89.0,181,68,57,56.0,45,6,13,6,13,7,2014,420,4 ★,4★,High,Medium,4 ★,58,70,85,85,63,59,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [68]:
# Standardize columns' names and change index
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_').str.replace('&', 'and')
if df.id.is_unique:
    df = df.set_index('id')
df.head()

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,flag_photo,pot,team_and_contract,height,weight,foot,growth,joined,loan_date_end,value,wage,release_clause,contract,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,curve,fk_accuracy,long_passing,ball_control,movement,acceleration,sprint_speed,agility,reactions,balance,power,shot_power,jumping,stamina,strength,long_shots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standing_tackle,sliding_tackle,goalkeeping,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,w/f,sm,a/w,d/w,ir,pac,sho,pas,dri,def,phy,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,https://cdn.sofifa.com/flags/it.png,69,Udinese 2008 ~ 2016,"6'0""",181lbs,Left,0,"Jul 1, 2008",NaN,€625K,€7K,€0,2008 ~ 2016,313,75,50,59,71,58.0,338,73,65.0,60,69,71,347,68,74,68.0,69,68.0,347,74,68.0,69,68,68,320,72,69.0,63.0,66.0,50,NaN,208,70,69,69.0,56,14,5,15,10,12,1929,408,3 ★,2★,Medium,High,2 ★,71,59,70,71,68,69,4,65+0,65+0,65+0,68+0,67+0,67+0,67+0,68+0,68+0,68+0,68+0,69+0,69+0,69+0,69+0,69+0,71+-2,70+-1,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,https://cdn.sofifa.com/flags/es.png,71,KAS Eupen 2014 ~ 2019,"5'10""",143lbs,Right,0,"Jul 19, 2014",NaN,€600K,€7K,€1.1M,2014 ~ 2019,337,68,64,61,76,68.0,369,69,79.0,79,71,71,305,56,50,62.0,65,72.0,324,75,54.0,64,60,71,362,71,71.0,72.0,73.0,75,79.0,153,70,43,40.0,56,9,12,13,11,11,1906,385,4 ★,3★,Medium,Medium,1 ★,53,69,73,69,58,63,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,https://cdn.sofifa.com/flags/gb-eng.png,71,Coventry City 2016 ~ 2020,"5'9""",161lbs,Right,0,"Jan 7, 2016",NaN,€1.1M,€15K,€0,2016 ~ 2020,337,80,64,41,77,75.0,387,79,84.0,77,69,78,295,48,42,71.0,59,75.0,284,72,58.0,29,56,69,317,69,39.0,69.0,74.0,66,NaN,99,35,34,30.0,51,9,6,13,16,7,1770,354,4 ★,4★,Medium,Low,2 ★,45,68,76,77,36,52,11,64+0,64+0,64+0,70+0,69+0,69+0,69+0,70+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,68+0,52+0,54+0,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,https://cdn.sofifa.com/flags/tt.png,82,Sunderland 2009,"5'11""",165lbs,Right,14,NaN,NaN,€0,€0,€0,2009,264,54,70,60,80,NaN,255,68,NaN,46,64,77,176,59,62,NaN,55,NaN,239,63,NaN,51,66,59,271,59,70.0,72.0,NaN,70,NaN,75,34,41,NaN,68,5,21,64,21,21,1348,369,3 ★,1★,NaN,NaN,1 ★,61,66,66,69,47,60,3,67+0,67+0,67+0,66+0,67+0,67+0,67+0,66+0,70+0,70+0,70+0,66+0,68+0,68+0,68+0,66+0,56+0,65+0,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,https://cdn.sofifa.com/flags/es.png,81,Vissel Kobe 2018 ~ 2021,"5'7""",150lbs,Right,0,"Jul 16, 2018",NaN,€5.5M,€12K,€7.2M,2018 ~ 2021,367,75,69,54,90,79.0,408,85,80.0,70,83,90,346,61,56,79.0,75,75.0,297,67,40.0,58,62,70,370,58,70.0,78.0,93.0,71,89.0,181,68,57,56.0,45,6,13,6,13,7,2014,420,4 ★,4★,High,Medium,4 ★,58,70,85,85,63,59,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

#### Data Cleaning
##### First Approach - drop all categorical missing data and sobsitute numerical with mean
##### Explore unicity of values to understand if more data can be dropped

In [69]:
# Explore nan values
orig_rows = df.shape[0]
nan_cols = [col for col in df.columns if df[col].isna().sum() > 0]
nan_counts = df[nan_cols].isna().sum()
nan_dtypes = df[nan_cols].dtypes
df_nan = pd.concat([nan_counts, nan_dtypes], axis=1)
df_nan.columns = ['nan_count', 'dtype']
df_nan

                nan_count    dtype
club                   23   object
position              413   object
club_logo              23   object
joined                 58   object
loan_date_end       16215   object
volleys                58  float64
curve                  58  float64
agility                58  float64
balance                58  float64
jumping                58  float64
interceptions           7  float64
positioning             7  float64
vision                 58  float64
composure             423  float64
sliding_tackle         58  float64
a/w                    89   object
d/w                    89   object

In [70]:
# It seems feasible to drop all categorical NaN values except the ones on loan_date_end. 
# The entire column will be dropped due to the high number of NaN values and probable uselessness for our predictions
df = df.drop(['loan_date_end'], axis=1)
nan_cols.remove('loan_date_end')
cat_nan_cols = [col for col in nan_cols if df[col].dtype=='object']  
df = df.dropna(subset=cat_nan_cols)

In [71]:
# replace missing numeric data with the simple average of the column
# a better analysis should at least try to get better values, for example clustering
# the player by their roles (vision and positioning attributes are different if player
# is a defender or attacker)
nan_cols = [col for col in df.columns if df[col].isna().sum() > 0]
df[nan_cols] = df[nan_cols].fillna(df.composure.mean())
print('Dropping missing values has led to a reduction of rows by {} %'.format(
    round((orig_rows-df.shape[0])/orig_rows, 2)
))

Dropping missing values has led to a reduction of rows by 0.03 %

#### EDA starts

##### Study the values count for each columns 
##### Interface this knowledhe with columns.csv description to understand:
#### Which column could be dropped beacuse is insignificant
#### Which column could be dropped sue to its unicity (not apporting any features)
#### Study multicollinearity
#### How to treat outliers

In [72]:
# Explore value counts of our columns
# Write data to a file for accurate exploration
# A one-line description will also be displayed in order to understand column value
df_desc = pd.read_csv('columns.csv', index_col=0)
orig_stdout = sys.stdout
with open('fifa_vc.txt', 'w', encoding='utf-8') as f:
    sys.stdout = f
    for col in df.columns:
        print(df_desc.loc[col].values[0].lstrip())
        print(df[col].value_counts(), end='\n'*3)
    sys.stdout = orig_stdout
    f.close()

In [73]:
# Standardization of some columns with simple methods:
# height --> to SI units (cm)
def to_cm(lst):
    """Converts height from feet, inches to cm"""
    return round(float(lst[0])*30.48+float(lst[1])*2.54, 0)
df.height = df.height.str.findall(r'(\d+)').apply(to_cm).astype('int64')

# weight --> to SI units (kg)
def to_kg(lbs):
    """Converts weight from lbs to kg"""
    lbs = lbs.replace('lbs', '')
    return round(int(lbs), 0)
df.weight = df.weight.apply(to_kg) # force integer

# value --> to euro
def to_float(value):
    """Converts string value to float number"""
    value = value.replace('€', '')
    if 'K' in value:
        return float(value.replace('K', '')) * 1e3
    elif 'M' in value:
        return float(value.replace('M', '')) * 1e6
    else:
        return float(value)
df.value = df.value.apply(to_float)

# wage --> to euro
df.wage = df.wage.apply(to_float)

#release clause --> to euro
df.release_clause = df.release_clause.apply(to_float)

#hits --> to number
df.hits = df.hits.apply(to_float)

# Handling the star statistics
star_stats = ['w/f', 'sm', 'ir']
for col in star_stats:
    df[col] = df[col].str[0].astype('int64')

In [74]:
# Functions for logic on 'contract' columns
def extract_start(contract):
    """Extract start year of contract"""
    if len(contract) == 0:
        return np.nan # no years is found
    elif len(contract) == 2: 
        if int(contract[0])>1900 and int(contract[0])<=int(contract[1]):
            return int(contract[0]) # start year is found
        else:
            return int(contract[1]) # only start year is present
    else:
        # lenght=3
        contract = np.array(contract).astype('int64')
        contract = contract[(contract>2000) & (contract < 2023)] # filter out values
        if len(contract) == 2:
            if int(contract[0])>1900 and int(contract[0])<=int(contract[1]):
                return int(contract[0]) # start year is found
            else:
                return contract[0]+'_verify3'
        elif len(contract) == 1: # only start year is found
            return int(contract[0])

def extract_end(contract):
    """Extract end year of contract"""
    if len(contract) == 0:
        return np.nan # no years is found
    elif len(contract) == 2: 
        if int(contract[0])>1900 and int(contract[0])<=int(contract[1]):
            return int(contract[1]) # end year is found
        else:
            return np.nan # end year is not present
    else:
        # lenght=3
        contract = np.array(contract).astype('int64')
        contract = contract[(contract>2000) & (contract < 2023)] # filter out values
        if len(contract) == 2:
            if int(contract[0])>1900 and int(contract[0])<=int(contract[1]):
                return int(contract[1]) # end year is found
            else:
                return contract[1]+'_verify3'
        elif len(contract) == 1: 
            return np.nan # end year is not present

In [75]:
# Logic for contract columns: range years of contract are extracted in following format:
# contract --> contract_start    contract_end
# contract column will be dropped

# Drop nan values found from contract start and
# replace missing value from contract_end with actual year (meaning contract is not finished)
# Then drop contract column
df.insert(list(df.columns).index('contract'), 'contract_start', 
            df.contract.str.findall(r'(\d+)').apply(extract_start))
df.insert(list(df.columns).index('contract_start'), 'contract_end', 
            df.contract.str.findall(r'(\d+)').apply(extract_end))
df.contract_end = df.contract_end.fillna(2022) # maybe better use datetime library
df = df.dropna()

In [76]:
# Function for logic on range stats
def range_stat(rs):
    """ Returns ranged stat in format 'min_stat, max_stat' """
    values = re.findall(r'\d+', rs)
    if '+-' in rs:
        min_value = str(int(values[0]) - int(values[1]))
    elif '+' in rs and '-' not in rs:
        min_value = values[0]
    max_value = str(int(values[0]) + int(values[1]))
    return min_value + ',' + max_value

In [77]:
# Some statistics are presented in the form:
# value+-range 
# These columns will be separated into a value_min and value_max
# In order to treat them numerically
# Original columns will be dropped
range_stats = ['ls', 'st', 'rs', 'lw', 'lf', 'cf', 
                'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 
                'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 
                'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 
                'rcb', 'rb', 'gk']

for col in range_stats:
    df[col] = df[col].apply(range_stat)
    df.insert(list(df.columns).index(col), col+'_min',
        df[col].str.split(',').str[0].astype('int64'))
    df.insert(list(df.columns).index(col), col+'_max',
        df[col].str.split(',').str[1].astype('int64'))
    df = df.drop(col, axis=1)

In [78]:
# The following columns have been identified as useless for 
# my target predictions
cols_to_drop = ['player_photo', 'club_logo', 'flag_photo', 
                'gender', 'contract'] # all players are male
df = df.drop(cols_to_drop, axis=1)
# Now we should have our final dataset
df = df.reset_index(drop=True)
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16332 entries, 0 to 16331
Data columns (total 129 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    name               16332 non-null  object
 1    age                16332 non-null  int64
 2    ova                16332 non-null  int64
 3    nationality        16332 non-null  object
 4    club               16332 non-null  object
 5    bov                16332 non-null  int64
 6    bp                 16332 non-null  object
 7    position           16332 non-null  object
 8    pot                16332 non-null  int64
 9    team_and_contract  16332 non-null  object
 10   height             16332 non-null  int64
 11   weight             16332 non-null  int64
 12   foot               16332 non-null  object
 13   growth             16332 non-null  int64
 14   joined             16332 non-null  object
 15   value              16332 non-null  float64
 16   wage               16332 non-null  float64
 17   release_clause     16332 non-null  float64
 18   contract_end       16332 non-null  float64
 19   contract_start     16332 non-null  float64
 20   attacking          16332 non-null  int64
 21   crossing           16332 non-null  int64
 22   finishing          16332 non-null  int64
 23   heading_accuracy   16332 non-null  int64
 24   short_passing      16332 non-null  int64
 25   volleys            16332 non-null  float64
 26   skill              16332 non-null  int64
 27   dribbling          16332 non-null  int64
 28   curve              16332 non-null  float64
 29   fk_accuracy        16332 non-null  int64
 30   long_passing       16332 non-null  int64
 31   ball_control       16332 non-null  int64
 32   movement           16332 non-null  int64
 33   acceleration       16332 non-null  int64
 34   sprint_speed       16332 non-null  int64
 35   agility            16332 non-null  float64
 36   reactions          16332 non-null  int64
 37   balance            16332 non-null  float64
 38   power              16332 non-null  int64
 39   shot_power         16332 non-null  int64
 40   jumping            16332 non-null  float64
 41   stamina            16332 non-null  int64
 42   strength           16332 non-null  int64
 43   long_shots         16332 non-null  int64
 44   mentality          16332 non-null  int64
 45   aggression         16332 non-null  int64
 46   interceptions      16332 non-null  float64
 47   positioning        16332 non-null  float64
 48   vision             16332 non-null  float64
 49   penalties          16332 non-null  int64
 50   composure          16332 non-null  float64
 51   defending          16332 non-null  int64
 52   marking            16332 non-null  int64
 53   standing_tackle    16332 non-null  int64
 54   sliding_tackle     16332 non-null  float64
 55   goalkeeping        16332 non-null  int64
 56   gk_diving          16332 non-null  int64
 57   gk_handling        16332 non-null  int64
 58   gk_kicking         16332 non-null  int64
 59   gk_positioning     16332 non-null  int64
 60   gk_reflexes        16332 non-null  int64
 61   total_stats        16332 non-null  int64
 62   base_stats         16332 non-null  int64
 63   w/f                16332 non-null  int64
 64   sm                 16332 non-null  int64
 65   a/w                16332 non-null  object
 66   d/w                16332 non-null  object
 67   ir                 16332 non-null  int64
 68   pac                16332 non-null  int64
 69   sho                16332 non-null  int64
 70   pas                16332 non-null  int64
 71   dri                16332 non-null  int64
 72   def                16332 non-null  int64
 73   phy                16332 non-null  int64
 74   hits               16332 non-null  float64
 75   ls_min             16332 non-null  int64
 76   ls_max             16332 non-null  int64
 77   st_min             16332 non-null  int64
 78   st_max             16332 non-null  int64
 79   rs_min             16332 non-null  int64
 80   rs_max             16332 non-null  int64
 81   lw_min             16332 non-null  int64
 82   lw_max             16332 non-null  int64
 83   lf_min             16332 non-null  int64
 84   lf_max             16332 non-null  int64
 85   cf_min             16332 non-null  int64
 86   cf_max             16332 non-null  int64
 87   rf_min             16332 non-null  int64
 88   rf_max             16332 non-null  int64
 89   rw_min             16332 non-null  int64
 90   rw_max             16332 non-null  int64
 91   lam_min            16332 non-null  int64
 92   lam_max            16332 non-null  int64
 93   cam_min            16332 non-null  int64
 94   cam_max            16332 non-null  int64
 95   ram_min            16332 non-null  int64
 96   ram_max            16332 non-null  int64
 97   lm_min             16332 non-null  int64
 98   lm_max             16332 non-null  int64
 99   lcm_min            16332 non-null  int64
 100  lcm_max            16332 non-null  int64
 101  cm_min             16332 non-null  int64
 102  cm_max             16332 non-null  int64
 103  rcm_min            16332 non-null  int64
 104  rcm_max            16332 non-null  int64
 105  rm_min             16332 non-null  int64
 106  rm_max             16332 non-null  int64
 107  lwb_min            16332 non-null  int64
 108  lwb_max            16332 non-null  int64
 109  ldm_min            16332 non-null  int64
 110  ldm_max            16332 non-null  int64
 111  cdm_min            16332 non-null  int64
 112  cdm_max            16332 non-null  int64
 113  rdm_min            16332 non-null  int64
 114  rdm_max            16332 non-null  int64
 115  rwb_min            16332 non-null  int64
 116  rwb_max            16332 non-null  int64
 117  lb_min             16332 non-null  int64
 118  lb_max             16332 non-null  int64
 119  lcb_min            16332 non-null  int64
 120  lcb_max            16332 non-null  int64
 121  cb_min             16332 non-null  int64
 122  cb_max             16332 non-null  int64
 123  rcb_min            16332 non-null  int64
 124  rcb_max            16332 non-null  int64
 125  rb_min             16332 non-null  int64
 126  rb_max             16332 non-null  int64
 127  gk_min             16332 non-null  int64
 128  gk_max             16332 non-null  int64
dtypes: float64(16), int64(103), object(10)
memory usage: 16.1+ MB

In [79]:
print(*[df[col].value_counts() for col in df.columns], sep='\n'*3)

J. Rodríguez       10
A. Traoré           8
J. Rojas            8
Paulinho            7
J. Sánchez          6
                   ..
M. Kranevitter      1
J. Musso            1
M. Ibáñez           1
L. Miranda          1
Pablo Rodríguez     1
Name: name, Length: 15445, dtype: int64


22    1308
23    1290
21    1256
20    1245
24    1202
25    1095
26    1058
19    1006
28    1004
27     995
29     830
30     715
18     657
31     602
32     488
33     412
34     321
17     288
35     202
36     125
37      73
38      55
16      45
39      25
40      19
41       6
42       6
43       2
47       1
53       1
Name: age, dtype: int64


64    969
67    965
65    963
66    933
68    892
70    868
69    866
63    828
72    770
71    751
62    737
61    618
73    597
75    593
60    564
74    519
59    459
58    391
76    346
57    311
77    310
56    249
78    240
55    223
79    190
54    149
53    144
80    143
52    115
81    104
51     90
83     78
82     69
50     67
84     43
49     40
85     39
48     23
87     20
86     17
88     11
47      9
90      6
89      6
91      4
93      1
45      1
92      1
Name: ova, dtype: int64


England      1660
Germany      1129
Spain        1097
France        963
Brazil        817
             ...
Malawi          1
Tanzania        1
Singapore       1
Malta           1
Suriname        1
Name: nationality, Length: 165, dtype: int64


Arsenal                     43
Chelsea                     43
Wolverhampton Wanderers     43
AS Monaco                   43
Bolton Wanderers            42
                            ..
Évian Thonon Gaillard FC     1
UE Llagostera                1
Amkar Perm                   1
CF Rayo Majadahonda          1
FC Arouca                    1
Name: club, Length: 885, dtype: int64


67    1014
66     981
65     980
68     967
69     944
70     921
64     895
71     865
72     815
63     729
73     704
62     635
74     617
61     582
75     581
60     463
76     428
77     389
59     362
78     301
58     275
57     248
79     187
56     183
80     176
55     167
81     142
54     116
82     104
53     104
52      88
83      76
84      50
51      49
85      46
50      31
86      29
87      25
49      19
88      11
48       9
89       8
91       5
90       5
47       2
93       1
92       1
44       1
46       1
Name: bov, dtype: int64


CB     3080
ST     2539
CAM    2164
GK     1471
RM     1365
CDM    1180
CM      937
LB      892
RB      856
LM      784
RW      312
RWB     245
LWB     242
LW      196
CF       69
Name: bp, dtype: int64


CB              1996
ST              1779
GK              1470
CDM CM           727
LB               645
                ...
CAM CM LM RM       1
RW RWB             1
CM LW LM           1
CF LW ST           1
LB LM CDM          1
Name: position, Length: 616, dtype: int64


72    1240
73    1215
75    1113
74    1112
70    1104
71    1104
69     908
76     817
68     793
77     732
67     730
78     678
66     595
65     555
79     537
64     479
80     464
81     350
82     278
63     246
83     245
62     172
84     157
85     129
61     113
86      90
60      69
87      65
88      49
59      39
58      33
89      27
57      16
56      15
90      14
91      10
55       9
93       7
52       5
92       5
48       3
54       3
50       3
95       1
53       1
49       1
47       1
Name: pot, dtype: int64


Flamengo 2019 ~ 2023             16
Internacional 2019 ~ 2023        16
Grêmio 2019 ~ 2023               15
Atlético Mineiro 2019 ~ 2023     14
São Paulo 2019 ~ 2023            13
                                 ..
CD Nacional 2014 ~ 2022           1
Preston North End 2016 ~ 2021     1
Motherwell 2017 ~ 2022            1
Doncaster Rovers 2017 ~ 2020      1
Burnley 2020 ~ 2021               1
Name: team_and_contract, Length: 9433, dtype: int64


183    2464
178    2315
175    1942
180    1850
188    1771
185    1725
173     916
190     908
170     857
193     686
168     287
196     244
165     178
198     104
201      27
163      27
160      12
203      10
157       5
206       2
155       2
Name: height, dtype: int64


154    1298
165    1236
176     994
159     882
172     849
161     831
163     812
168     790
170     732
150     662
174     580
157     574
181     529
152     474
143     462
148     436
179     436
183     425
185     383
187     359
146     350
141     290
190     252
194     230
139     195
192     177
198     154
137     148
132     142
196     112
134     104
201      71
203      68
205      43
128      39
209      36
207      34
130      31
212      16
121      14
126      13
123      12
214      11
216      11
220       9
119       4
227       4
225       4
223       3
218       3
229       2
117       2
110       1
236       1
243       1
115       1
Name: weight, dtype: int64


Right    12288
Left      4044
Name: foot, dtype: int64


0     5157
1      974
3      955
5      856
7      814
9      772
6      757
8      715
10     616
11     592
4      572
2      536
14     492
12     478
13     432
15     407
16     297
17     275
18     189
20     185
19     125
21      45
22      40
23      27
24      13
25       8
26       3
Name: growth, dtype: int64


Jul 1, 2019     1154
Jul 1, 2018      870
Jul 1, 2017      549
Jan 1, 2019      386
Jul 1, 2020      327
                ...
Jun 22, 2019       1
Aug 29, 2015       1
Aug 12, 2012       1
Aug 23, 2013       1
Sep 8, 2019        1
Name: joined, Length: 1891, dtype: int64


1100000.0     489
1000000.0     342
325000.0      332
450000.0      332
1200000.0     322
             ...
80000000.0      1
38500000.0      1
46000000.0      1
58000000.0      1
5000.0          1
Name: value, Length: 216, dtype: int64


2000.0      2399
500.0       1737
3000.0      1671
1000.0      1279
4000.0      1053
            ...
270000.0       2
370000.0       1
560000.0       1
290000.0       1
250.0          1
Name: wage, Length: 142, dtype: int64


0.0           1221
1100000.0      521
1200000.0      435
1300000.0      416
1400000.0      387
              ...
601000.0         1
46000000.0       1
59700000.0       1
12000.0          1
367000.0         1
Name: release_clause, Length: 1193, dtype: int64


2021.0    4770
2022.0    4584
2023.0    2797
2020.0    1645
2024.0    1577
2025.0     430
2019.0     206
2018.0     100
2017.0      75
2016.0      57
2015.0      35
2014.0      27
2013.0      14
2012.0       9
2026.0       4
2028.0       1
2027.0       1
Name: contract_end, dtype: int64


2019.0    4404
2020.0    4085
2018.0    2788
2017.0    1703
2016.0     973
2021.0     631
2015.0     594
2014.0     392
2013.0     247
2012.0     165
2011.0     123
2010.0      69
2009.0      39
2008.0      30
2007.0      22
2022.0      12
2005.0      11
2006.0      10
2003.0      10
2002.0       6
2004.0       5
2001.0       2
1998.0       2
1999.0       2
1993.0       2
1995.0       1
1992.0       1
2000.0       1
1990.0       1
2023.0       1
Name: contract_start, dtype: int64


266    143
274    135
281    135
284    133
256    132
      ...
130      1
423      1
417      1
43       1
420      1
Name: attacking, Length: 362, dtype: int64


65    514
59    491
60    474
58    473
62    472
     ...
6       3
92      1
94      1
91      1
93      1
Name: crossing, Length: 89, dtype: int64


58    454
62    441
64    441
60    435
65    413
     ...
95      2
92      2
90      2
93      1
89      1
Name: finishing, Length: 93, dtype: int64


58    599
60    539
55    505
59    478
65    476
     ...
88      3
89      2
5       2
93      2
6       1
Name: heading_accuracy, Length: 89, dtype: int64


65    748
64    746
66    737
68    729
62    728
     ...
92      2
93      2
8       2
7       1
94      1
Name: short_passing, Length: 86, dtype: int64


55.0    373
49.0    370
59.0    364
48.0    356
53.0    354
       ...
86.0      6
88.0      5
90.0      3
87.0      3
89.0      2
Name: volleys, Length: 87, dtype: int64


285    125
280    123
289    121
301    119
296    118
      ...
439      1
448      1
441      1
436      1
48       1
Name: skill, Length: 390, dtype: int64


64    709
65    672
68    615
63    613
62    606
     ...
92      6
91      3
93      2
96      1
95      1
Name: dribbling, Length: 91, dtype: int64


55.0    381
58.0    363
48.0    358
60.0    357
64.0    356
       ...
91.0      1
5.0       1
94.0      1
93.0      1
4.0       1
Name: curve, Length: 91, dtype: int64


39    440
42    427
32    417
35    413
40    410
     ...
91      2
6       2
94      1
92      1
5       1
Name: fk_accuracy, Length: 90, dtype: int64


65    584
62    552
58    542
60    522
64    522
     ...
91      3
90      3
88      2
93      2
10      1
Name: long_passing, Length: 84, dtype: int64


65    776
64    717
62    704
68    696
70    692
     ...
96      1
95      1
94      1
5       1
7       1
Name: ball_control, Length: 91, dtype: int64


340    177
326    163
359    157
354    154
339    153
      ...
447      1
446      1
440      1
464      1
140      1
Name: movement, Length: 326, dtype: int64


68    683
69    639
67    588
74    582
72    553
     ...
16      8
96      6
12      1
13      1
97      1
Name: acceleration, Length: 85, dtype: int64


69    733
68    690
67    614
74    582
66    571
     ...
16     11
95      7
96      4
13      1
14      1
Name: sprint_speed, Length: 84, dtype: int64


68.0    556
72.0    546
70.0    545
67.0    540
69.0    539
       ...
19.0      2
15.0      2
20.0      2
14.0      1
96.0      1
Name: agility, Length: 81, dtype: int64


60    778
65    754
64    730
58    726
68    714
     ...
24      2
94      2
95      1
29      1
28      1
Name: reactions, Length: 69, dtype: int64


68.0    569
69.0    545
75.0    539
67.0    538
65.0    537
       ...
20.0      5
19.0      2
17.0      1
96.0      1
97.0      1
Name: balance, Length: 80, dtype: int64


326    156
325    152
322    151
335    145
330    145
      ...
426      1
137      1
437      1
428      1
140      1
Name: power, Length: 287, dtype: int64


65    565
68    538
70    529
64    493
66    487
     ...
95      2
18      1
16      1
93      1
19      1
Name: shot_power, Length: 80, dtype: int64


70.0    720
71.0    635
72.0    591
65.0    583
62.0    554
       ...
27.0      2
95.0      1
24.0      1
26.0      1
25.0      1
Name: jumping, Length: 73, dtype: int64


68    682
69    581
70    545
67    543
66    538
     ...
97      1
96      1
14      1
13      1
12      1
Name: stamina, Length: 87, dtype: int64


70    610
68    605
67    534
72    533
66    529
     ...
96      2
20      2
97      1
16      1
23      1
Name: strength, Length: 77, dtype: int64


62    453
59    442
60    432
65    424
58    423
     ...
94      1
93      1
91      1
92      1
90      1
Name: long_shots, Length: 91, dtype: int64


265    151
279    148
263    145
277    143
267    140
      ...
161      1
417      1
397      1
168      1
177      1
Name: mentality, Length: 351, dtype: int64


70    451
68    445
58    423
62    421
72    417
     ...
95      2
94      2
10      2
96      1
9       1
Name: aggression, Length: 88, dtype: int64


62.0    435
65.0    416
66.0    400
60.0    395
58.0    394
       ...
5.0       3
4.0       3
91.0      2
89.0      2
93.0      1
Name: interceptions, Length: 89, dtype: int64


58.0    517
64.0    516
62.0    502
65.0    499
59.0    488
       ...
94.0      4
91.0      4
90.0      3
89.0      2
95.0      1
Name: positioning, Length: 94, dtype: int64


59.0    567
58.0    554
62.0    526
65.0    505
60.0    502
       ...
89.0      2
10.0      2
94.0      2
93.0      1
95.0      1
Name: vision, Length: 85, dtype: int64


55    491
60    457
58    438
59    437
49    435
     ...
9       5
91      5
7       4
89      3
94      1
Name: penalties, Length: 87, dtype: int64


65.0    644
58.0    618
62.0    610
60.0    608
64.0    589
       ...
14.0      2
96.0      1
17.0      1
16.0      1
95.0      1
Name: composure, Length: 85, dtype: int64


194    189
184    164
193    159
190    159
187    159
      ...
255      1
266      1
268      1
21       1
20       1
Name: defending, Length: 248, dtype: int64


62    444
65    439
60    434
58    411
68    393
     ...
94      2
3       1
93      1
91      1
92      1
Name: marking, Length: 92, dtype: int64


64    523
65    510
66    455
63    444
68    442
     ...
89      4
90      3
5       1
93      1
6       1
Name: standing_tackle, Length: 87, dtype: int64


62.0    523
64.0    477
65.0    472
63.0    440
60.0    402
       ...
6.0       4
90.0      3
88.0      2
95.0      1
7.0       1
Name: sliding_tackle, Length: 85, dtype: int64


51     836
52     834
50     815
54     791
53     788
      ...
419      1
80       1
79       1
18       1
246      1
Name: goalkeeping, Length: 265, dtype: int64


8     1488
7     1463
12    1456
10    1449
11    1441
      ...
44       1
22       1
32       1
39       1
46       1
Name: gk_diving, Length: 70, dtype: int64


10    1510
12    1508
7     1471
14    1451
11    1446
      ...
84       1
41       1
43       1
89       1
25       1
Name: gk_handling, Length: 69, dtype: int64


9     1503
7     1501
13    1479
12    1465
14    1444
      ...
38       1
40       1
19       1
36       1
31       1
Name: gk_kicking, Length: 78, dtype: int64


10    1510
7     1481
8     1479
9     1457
14    1455
      ...
88       1
24       1
85       1
1        1
20       1
Name: gk_positioning, Length: 77, dtype: int64


9     1523
11    1501
8     1477
7     1471
10    1453
      ...
1        1
21       1
32       1
23       1
49       1
Name: gk_reflexes, Length: 72, dtype: int64


1693    42
1771    39
1666    39
1588    39
1607    38
        ..
2262     1
1129     1
2182     1
1088     1
995      1
Name: total_stats, Length: 1394, dtype: int64


365    173
358    168
375    166
361    160
378    160
      ...
472      1
497      1
477      1
233      1
243      1
Name: base_stats, Length: 248, dtype: int64


3    10078
2     3258
4     2623
5      280
1       93
Name: w/f, dtype: int64


2    7213
3    6361
1    1471
4    1223
5      64
Name: sm, dtype: int64


Medium    10581
High       4964
Low         787
Name: a/w, dtype: int64


Medium    11772
High       2864
Low        1696
Name: d/w, dtype: int64


1    14607
2     1269
3      393
4       57
5        6
Name: ir, dtype: int64


66    693
68    681
67    673
69    670
71    665
     ...
95      3
27      1
26      1
28      1
25      1
Name: pac, Length: 72, dtype: int64


60    570
62    545
63    532
61    527
64    525
     ...
91      2
17      2
89      1
16      1
93      1
Name: sho, Length: 77, dtype: int64


60    684
62    679
61    663
59    655
58    649
     ...
91      3
93      2
25      2
27      2
89      1
Name: pas, Length: 68, dtype: int64


65    773
68    771
63    767
64    756
67    740
     ...
29      4
92      3
94      1
95      1
28      1
Name: dri, Length: 67, dtype: int64


63    514
61    470
65    449
62    440
60    439
     ...
88      3
89      2
90      1
91      1
13      1
Name: def, Length: 78, dtype: int64


67    709
66    692
69    689
70    680
65    671
     ...
32      2
30      1
27      1
29      1
28      1
Name: phy, Length: 65, dtype: int64


3.0      2967
4.0      2154
5.0      1448
6.0      1105
7.0       791
         ...
660.0       1
491.0       1
370.0       1
305.0       1
720.0       1
Name: hits, Length: 528, dtype: int64


61    712
63    664
62    644
60    633
58    622
     ...
88      2
16      2
91      1
87      1
15      1
Name: ls_min, Length: 76, dtype: int64


63    702
64    690
65    680
62    662
60    634
     ...
92      2
90      1
88      1
16      1
17      1
Name: ls_max, Length: 77, dtype: int64


61    712
63    664
62    644
60    633
58    622
     ...
88      2
16      2
91      1
87      1
15      1
Name: st_min, Length: 76, dtype: int64


63    702
64    690
65    680
62    662
60    634
     ...
92      2
90      1
88      1
16      1
17      1
Name: st_max, Length: 77, dtype: int64


61    712
63    664
62    644
60    633
58    622
     ...
88      2
16      2
91      1
87      1
15      1
Name: rs_min, Length: 76, dtype: int64


63    702
64    690
65    680
62    662
60    634
     ...
92      2
90      1
88      1
16      1
17      1
Name: rs_max, Length: 77, dtype: int64


64    715
65    702
63    685
61    677
62    640
     ...
87      3
88      2
14      2
90      1
92      1
Name: lw_min, Length: 78, dtype: int64


64    706
65    685
63    683
61    675
62    628
     ...
89      3
88      2
14      2
90      1
92      1
Name: lw_max, Length: 78, dtype: int64


62    696
61    686
63    683
65    642
60    632
     ...
88      3
15      3
86      2
93      1
91      1
Name: lf_min, Length: 77, dtype: int64


62    690
61    688
63    681
65    634
60    630
     ...
86      3
88      3
15      3
91      1
93      1
Name: lf_max, Length: 77, dtype: int64


62    696
61    686
63    683
65    642
60    632
     ...
88      3
15      3
86      2
93      1
91      1
Name: cf_min, Length: 77, dtype: int64


62    690
61    688
63    681
65    634
60    630
     ...
86      3
88      3
15      3
91      1
93      1
Name: cf_max, Length: 77, dtype: int64


62    696
61    686
63    683
65    642
60    632
     ...
88      3
15      3
86      2
93      1
91      1
Name: rf_min, Length: 77, dtype: int64


62    690
61    688
63    681
65    634
60    630
     ...
86      3
88      3
15      3
91      1
93      1
Name: rf_max, Length: 77, dtype: int64


64    715
65    702
63    685
61    677
62    640
     ...
87      3
88      2
14      2
90      1
92      1
Name: rw_min, Length: 78, dtype: int64


64    706
65    685
63    683
61    675
62    628
     ...
89      3
88      2
14      2
90      1
92      1
Name: rw_max, Length: 78, dtype: int64


62    717
63    708
64    667
61    651
65    650
     ...
87      2
90      1
89      1
93      1
15      1
Name: lam_min, Length: 77, dtype: int64


64    757
65    707
66    683
67    665
63    653
     ...
18      4
91      3
90      3
93      1
17      1
Name: lam_max, Length: 76, dtype: int64


62    717
63    708
64    667
61    651
65    650
     ...
87      2
90      1
89      1
93      1
15      1
Name: cam_min, Length: 77, dtype: int64


64    757
65    707
66    683
67    665
63    653
     ...
18      4
91      3
90      3
93      1
17      1
Name: cam_max, Length: 76, dtype: int64


62    717
63    708
64    667
61    651
65    650
     ...
87      2
90      1
89      1
93      1
15      1
Name: ram_min, Length: 77, dtype: int64


64    757
65    707
66    683
67    665
63    653
     ...
18      4
91      3
90      3
93      1
17      1
Name: ram_max, Length: 76, dtype: int64


64    749
61    727
63    727
62    717
66    675
     ...
87      2
88      2
89      1
90      1
91      1
Name: lm_min, Length: 77, dtype: int64


64    754
65    748
66    743
63    722
67    675
     ...
90      3
91      3
17      3
89      2
93      1
Name: lm_max, Length: 76, dtype: int64


59    701
61    701
62    668
60    655
57    626
     ...
86      3
89      1
87      1
16      1
15      1
Name: lcm_min, Length: 74, dtype: int64


64    698
63    694
61    691
62    668
59    640
     ...
88      3
91      1
90      1
18      1
17      1
Name: lcm_max, Length: 74, dtype: int64


59    701
61    701
62    668
60    655
57    626
     ...
86      3
89      1
87      1
16      1
15      1
Name: cm_min, Length: 74, dtype: int64


64    698
63    694
61    691
62    668
59    640
     ...
88      3
91      1
90      1
18      1
17      1
Name: cm_max, Length: 74, dtype: int64


59    701
61    701
62    668
60    655
57    626
     ...
86      3
89      1
87      1
16      1
15      1
Name: rcm_min, Length: 74, dtype: int64


64    698
63    694
61    691
62    668
59    640
     ...
88      3
91      1
90      1
18      1
17      1
Name: rcm_max, Length: 74, dtype: int64


64    749
61    727
63    727
62    717
66    675
     ...
87      2
88      2
89      1